{:source-paths ["src"]
 :dependencies [[re-frame "1.4.3"]
                [reagent "1.2.0"]
                [day8.re-frame/http-fx "0.2.4"]
                [cljs-http "0.1.47"]]
 :builds {:app {:target :browser
                :output-dir "public/js"
                :asset-path "/js"
                :modules {:main {:init-fn clojure-download-zip-csv.frontend.core/init}}
                :devtools {:after-load clojure-download-zip-csv.frontend.core/mount-root}}}}
